.navbar-slice{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -10000px;
    /* background-color: black;
    opacity: 0.5; */
    background: rgba(0,0,0,0.5);
    /* transition: left 500ms; */
}

.navbar-slice-main{
    position: relative;
    width: 100%;
    height: 100%;
}

.navbar-slice-cart{
    position: relative;
    overflow-y: scroll;
    border: solid 1px black;
    border-left: none;
    z-index: 1000;
    position: absolute;
    float: right;
    background-color: white;
    width: 30%;
    height: 100%;
    right: -1000px;
    transition: right 500ms;
}
.total-price{
    position: fixed;
    bottom: 20px;
    width: 377px;
    height: 100px;
    margin-left: 10px;
}
.total-price div{
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-cart-icon{
    float: right;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.navbar-cart-icon:hover .navbar-cart-dropdown{
  display: block;
}

.navbar-cart-icon i{
  position: relative;
}

.cart-amount-product-icon{
    margin-right: 1px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    height: 30px;
    width: 30px;
}
.cart-amount-product-icon:hover{
    background-color: black;
    color: white;
}
.cart-amount-product-icon i{
    font-size: 20px;
}

.delete-product{
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    height: 34px;
}

.delete-product:hover{
    background-color: black;
    color: white;
}

.navbar-slice-cart-close{
    cursor: pointer;
    z-index: 11;
    position: absolute;
    top: 42%;
    right: 420px;
    font-size: 25px;
    color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.navbar-cart-dropdown-main{
    overflow: visible;
}

.navbar-input{
    position: relative;
}

.navbar-input input{
    outline: none;
    height: 25px;
    border: none;
    text-align: left;
    font-size: 20px;
    width: 100px;
    border-bottom: solid 2px black;
    transition: width 500ms;
    margin-right: 10px;
}

.navbar-input input:focus{
    width: 200px;
}

.navbar-input span{
    cursor: pointer;
}

.navbar-input i{
    font-size: 25px;
}

.navbar-input-search-items{
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    height: 250px;
}

.navbar-input-search-items .product{
    background-color: white;
    width: inherit;
    height: 80px;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-input-search-items .product .product-detail h2{
    margin: 0;
    display: block;
    font-size: 8px;
    width: 50px;
    overflow-x: hidden;
    margin-right: 10px;
}

.navbar-input-search-items .product .product-detail h3{
    margin: 0;
}

.navbar-input-search-items .product .product-detail{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-input-search-items .product-img-btn{
    margin-right: 10px;
}

.navbar-input-search-items .product span{
    display: none;
}

.navbar-input-search-items .product img{
    z-index: 100;
    height: 60px;
}

.navbar-input-search-items .product .product-btn{
    display: none;
}

@media only screen and (max-width: 812px){
    .navbar-slice-cart{
        width: 100%;
    }
}
