.seen-products-cover{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seen-products{
    border: solid 2px black;
    border-radius: 10px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.scroll4::-webkit-scrollbar {
    width: 5px;
  }
 
.scroll4::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

.seen-single-product{
    display: inline-block;
    width: 230px;
    min-width: 230px;
    margin-right: 9px;
    /* display: flex;
    flex-direction: column; */
}

.seen-single-product img{
    width: 100%;
}

.seen-single-product p{
    text-align: center;
    margin: 0;
}

.fa-chevron-left{
    position: absolute;
    top: 50%;
    left: 0;
    transition: font-size 300ms;
}

.fa-chevron-right{
    position: absolute;
    top: 50%;
    right: 0;
    transition: font-size 300ms;
}

.seen-products-cover i{
    cursor: pointer;
}

.seen-products-cover h1{
    text-decoration: underline;
}

.seen-products-cover i:hover{
    font-size: 30px;
}

.seen-products-overlay{
    height: 350px;
    width: 90%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 812px){
    .seen-single-product{
        width: 140px;
        min-width: 140px;
    }
    .seen-single-product p{
        font-size: 10px;
        font-weight: bold;
    }
    .seen-single-product img{
    }
    .seen-single-product-content{
        font-size: 10px;
    }
}