/* common */
.row-homepage{
    position: relative;
    height: fit-content;
    margin-bottom: 40px;
}

.row-homepage img{
    z-index: -1;
}

.test{
    position: absolute;
    width: 100%;
    height: 100%;
}

.product-content{
    margin-top: 300px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    top: 200px;
    position: sticky;
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}

.product-content h3{
    margin: 20px 0;
}

.product-content button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 10px;
    background-color: white;
    color: black;
}

.product-content button:hover{
    color: white;
    background-color: black;
}

/* common */

.homepage{
    margin: 0;
    box-sizing: border-box;
    width: 96vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-navbar{
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
}

.homepage-navbar ul{
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-navbar ul li{
    list-style: none;
    float: right;
    margin-left: 15px;
}

.homepage-navbar-logo{
    user-select: none;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.homepage-navbar-menu{
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-footer{
    background-color: #E4E4E4;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.homepage-footer p{
    text-align: center;
    max-width: 500px;
    font-size: 13px;
}

.homepage-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.homepage-footer ul li{
    box-sizing: border-box;
    margin-bottom: 10px;
}

.homepage-footer ul li:hover{
    text-decoration: underline;
}

.homepage-footer-main{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.homepage-footer-main p{
    text-align: left;
}