/* common */
.row-homepage{
    position: relative;
    height: fit-content;
    margin-bottom: 40px;
}

.row-homepage img{
    z-index: -1;
}

.test{
    position: absolute;
    width: 100%;
    height: 100%;
}

.product-content{
    margin-top: 300px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    top: 200px;
    position: sticky;
    color: white;
    font-size: 30px;
    margin-bottom: 40px;
}

.product-content h3{
    margin: 20px 0;
}

.product-content button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 10px;
    background-color: white;
    color: black;
}

.product-content button:hover{
    color: white;
    background-color: black;
}

/* common */

.homepage{
    margin: 0;
    box-sizing: border-box;
    width: 96vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.homepage-cover{
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.pop-up-contact{
    box-sizing: border-box;
    padding: 20px 0;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.pop-up-contact p{
    margin: 0;
}

.pop-up-contact p:nth-child(1){
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
}

.pop-up-contact p:nth-child(2){
    font-weight: bold;
}

.pop-up-contact p:nth-child(5){
    text-decoration: underline;
    margin-top: 30px;
}

.pop-up-contact p:nth-child(6){
    font-weight: bold;
    margin-bottom: 10px;
}

.pop-up-contact p:nth-child(12){
    margin-top: 10px;
}

.pop-up-location-main{
    display: flex;
    justify-content: space-between;
}

.pop-up-location p:first-child{
    font-size: 26px;
}

.location{
    width: 200px;
}

.location p:nth-child(1){
    color: red;
}

.pop-up-service p:first-child{
    font-size: 26px;
    color: red;
    font-weight: bold;
}
.pop-up-service{
    float: left;
    text-align: left;
}
.homepage-pop-up{
    z-index: 1;
    position: fixed;
    top: 90px;
    width: inherit;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-pop-up-main-content{
    z-index: 1;
    top: 0;
    width: 80%;
    height: 70%;
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-pop-up-main-content-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    background-image: url(https://hmgroup.com/wp-content/uploads/2020/03/cq5dam.web_.2400.720.5.jpeg);
}

.homepage-pop-up-main-content-img h1{
    margin: 0;
    color: white;
    font-size: 40px;
}

.homepage-pop-up-main-content-context{
    width: 50%;
}

.homepage-pop-up-main-content-imgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

.homepage-pop-up-main-content-imgs img{
    width: 360px;
    height: 200px;
}

.homepage-navbar{
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
}

.homepage-navbar ul{
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-navbar ul li{
    cursor: pointer;
    list-style: none;
    float: right;
    margin-left: 15px;
}

.homepage-navbar-logo{
    cursor: pointer;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.homepage-navbar-menu{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.homepage-navbar-menu p{
    margin-left: 10px;
}

.homepage-footer{
    margin-top: 20px;
    background-color: #E4E4E4;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.homepage-footer p{
    text-align: center;
    max-width: 500px;
    font-size: 13px;
}

.homepage-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.homepage-footer ul li{
    box-sizing: border-box;
    margin-bottom: 10px;
}

.homepage-footer ul li:hover{
    text-decoration: underline;
}

.homepage-footer-main{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.homepage-footer-main p{
    text-align: left;
}

.homepage-pop-up-mobile{
    display: none;
}


@media only screen and (max-width: 812px){
    .homepage-navbar-logo{
        font-size: 40px;
    }
    .homepage-navbar ul{
        display: none;
    }
    .homepage-navbar-menu p{
        display: none;
    }
    .homepage-navbar-menu{
        font-size: 30px;
    }
    .homepage{
        width: 93%;
    }
    .product-content{
        top: 0;
        margin-top: 100px;
    }
    .product-content h3{
        font-size: 20px;
    }
    .product-content h4{
        font-size: 10px;
    }
    .product-content button{
        padding: 5px 10px;
        font-weight: 400;
        font-size: 10px;
    }
    .homepage-footer-main{
        box-sizing: border-box;
        width: inherit;
        padding: 0 10px;
    }
    .homepage-footer-infor{
        text-align: center;
    }
    .homepage-footer-infor p{
        text-align: center;
    }
    .homepage-footer-help{
        text-align: center;
    }
    .homepage-footer-help p{
        text-align: center;
    }
    .homepage-pop-up{
        display: none;
    }
    .homepage-pop-up-mobile{
        display: block;
        position: relative;
        z-index: 2;
        position: fixed;
        top: 0px;
        left: -1000px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        transition: left 300ms;
    }
    .homepage-pop-up-mobile div:first-child{
        z-index: 0;
        box-sizing: border-box;
        width: 50%;
        height: 100vh;
        background-color: white;
        padding: 10px;
        color: black;
    }

    .homepage-pop-up-mobile a{
        text-decoration: underline;
    }

    .homepage-pop-up-mobile-cover{
        z-index: -1;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
    }
}