.product-detail-page{
    box-sizing: border-box;
    width: 1380px;
    padding: 0 10px;
}

.product-detail-page-main img{
    width: 80%;
}

.product-detail-page-cover{
    display: flex;
}

.product-detail-images{
    display: flex;
    flex-direction: column;
}

.product-detail-images img{
    cursor: pointer;
    width: 120px;
    height: 160px;
    border: solid 1px white;
    margin-bottom: 20px;
}

.product-detail-images img:hover{
    border: solid 1px black;
}

.product-detail-page-infor-cover {
    height: fit-content;
    margin-top: 10px;
    position: sticky;
    top: 110px;
}

.product-detail-page-infor h2{
    border-bottom: dotted 1px black;
    margin: 0;
}

.product-detail-page-infor h1{
    border-bottom: dotted 1px black;
    margin: 0;
    font-weight: 400;
}

.product-detail-page-cover-2{
    flex-direction: column;
    display: flex;
}

.product-detail-page-infor-btn{
    display: flex;
    margin-top: 10px;
}

.product-detail-page-infor-btn i{
    background-color: black;
    color: white;
    padding: 8px;
}

.product-detail-page-infor-btn input{
    outline: none;
    width: 80px;
    height: 29px;
    margin: 0;
    padding: 0;
}

.product-detail-page-infor-cover button{
    cursor: pointer;
    margin-top: 10px;
    background-color: white;
    padding: 10px 25px;
}

.product-detail-page-infor-cover button:hover{
    color: white;
    background-color: black;
}

.product-detail-page-cover-2-img{
    display: flex;
}

.product-detail-page-showup-content{
    display: none;
}

.product-detail-page-main-content{
    margin-top: 90px;
}
.product-detail-btn-cover{
    display: none;
}

@media only screen and (max-width: 812px){
    .product-detail-page{
        width: inherit;
    }
    .product-detail-page-cover{
        width: inherit;
    }
    .product-detail-page-cover-1{
        width: 100%;
    }
    .product-detail-page-cover-2-img{
        flex-direction: column-reverse;
    }
    .product-detail-images{
        flex-direction: row;
        justify-content: center;
    }
    .product-detail-images img{
        width: 60px;
        height: 80px;
    }
    .product-detail-page-main{
        width: inherit;
        margin-bottom: 10px;
    }
    .product-detail-page-main{
        display: flex;
        justify-content: center;
    }
    .product-detail-page-main img{
        width: 200px;
    }
    .product-detail-size{
        display: flex;
        justify-content: center;
    }
    .product-detail-size img{
        width: 338px;
    }
    .product-detail-page-infor-cover{
        display: none;
    }
    .product-detail-btn-cover{
        background-color: white;
        position: fixed;
        bottom: 0;
        right: 0;
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .detail-col-3{
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: solid 2px black;
        transition: background-color 500ms;
    }
    .detail-col-3:hover{
        color: white;
        background-color: black;
    }
    .detail-add-btn{
        color: black;
    }
}