.search-page{
    box-sizing: border-box;
    padding: 0 10px;
    width: 1380px;
}

.search-page-main-cover{
    display: flex;
    flex-direction: column;
}

.search-page-main{
    float: left;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: inherit; */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.search-page-main .product{
    display: inline-block;
    width: 276px;
    box-shadow: none;
}
/* 
.search-page-main .product:nth-child(3n-1) {
    width: 270px;
    margin-right: 15px;
} */

.break{
    display: none;
}

.break:nth-child(3n){
    display: block;
    width: 100%;
    height: 0;
}

.search-page-number{
    display: flex;
    flex-direction: row;
}

.search-page-number p{
    cursor: pointer;
    line-height: 10px;
    font-size: 20px;
    border: solid 2px black;
    padding: 10px;
    border-radius: 100%;
    margin-right: 10px;
}

@media only screen and (max-width: 812px){
    .search-page{
        margin-top: 88px;
    }
    .search-page h2{
        margin-left: 10px;
    }
    .search-page-main{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .search-page-main .product{
        width: 49%;
    }
}