body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-body{
  width: 1380px;
  padding: 0 10px;
  height: 100%;
}

/* common */
a{
  color: black;
  text-decoration: none;
}

.cs{
  cursor: pointer;
}

.select-list{
  width: 150px;
  height: fit-content;
}

.tc{
  text-align: center;
}

.col-3{
  max-width: 33.33333%;
  float: left;
  margin-bottom: 60px;
}

.col-2{
  max-width: 50%;
  height: 100%;
}

.row{
  width: 100%;
}

/* .row-5{
  margin:20px 0;
} */

.row-2{
  margin: 0;
}
/* common */

.App{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.display-section{
  height: fit-content;
}

.navbar{
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  user-select: none;
  width: 100%;
  text-transform: uppercase;
  height: 90px;
  font-size: 60px;
}
.navbar-cart-dropdown{
  position: absolute;
  left: -100px;
}

.navbar-cart-dropdown-main{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.category{
  max-width: 30%;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  float: left;
  padding: 0;
}

.category a{
  text-decoration: none;
  color: black;
}

.products{
  width: 70%;
  max-height: fit-content;
  padding: 0;
}

.products-main{
  display: flex;
  flex-direction: column;
}

.products-main-child{
  padding: 0 10px;
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product{
  margin: 20px 0 45px;
  overflow: hidden;
  width: fit-content;
  box-sizing: content-box;
  width: 292px;
  box-sizing: border-box;
  padding: 0 15px;
  transition: box-shadow 500ms;
  border-radius: 10px;
}

.product h3{
  margin-top: 10px;
  margin-bottom: 0;
}

.product h2{
  margin-bottom: 0;
}

.product:hover{
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
}

.product-img-btn{
  position: relative;
  overflow: hidden;
}

.btn2{
  float: right;
}

.btn{
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  width: 145px;
  border: solid 1px white;
  background-color: black;
}

.product-btn{
  position: absolute;
  left: 0;
  bottom: -45px;
  transition: transform 400ms;
}

.product:hover .product-btn{
  transform: translateY(-47px);
}

.product img{
  max-width: 100%;
}

.category li{
  padding: 0 -3px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.category li:first-child{
  margin-top: 0;
}

.category li::after{
  content: "";
  border: solid 1px transparent;
  vertical-align: top;
  bottom: 0;
  position: absolute;
  background-color: white;
  bottom: -1px;
  left: -121px;
  width: 119px;
  height: 20px;
  transition: left 700ms;
}

.category li:hover:after {
  left: 121px;
}


.product-img{
  position: relative;
  z-index: -1;
}

.product-img span{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 15px;
  left: 10px;
}

.product-detail{
  text-transform: uppercase;
}

.header{
  max-width: 100%;
  margin: 100px 0 50px 0;
  text-align: right;
  user-select: none;
}

.header-main{
  position: relative;
  display: inline-block;
}

.header-main:hover .header-dropdown{
  display: block;
}

.header-default{
  display: inline-block;
  width: 150px;
  height: fit-content;
}

.header-default p{
  border-radius: 10px;
  border: solid 2px black;
  margin: 0;
}

.header-dropdown{
  z-index: 1;
  display: none;
  position: absolute;
  right: 0;
}

.header-dropdown-list{
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  height: fit-content;
  top:0;
  right: 0;
}

.header-dropdown-list p{
  margin-top: 20px;
  background-color: white;
  /* border-top: solid 1px white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 10px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-width: 1px; */
  border: solid 2px black;
  border-radius: 10px;
  box-sizing: border-box;
}

.header-dropdown-list p:hover{
  font-size: 20px;
  color: white;
  background-color: black;
}

.select-list{
  margin: 30px 0 0;
  display: inline;
  padding: -15px;
  height: 22px;
}

i span{
  position: absolute;
  color: white;
  font-size: 14px;
  top: 20%;
  left: 48%;
}

.navbar-cart-dropdown{
  display: none;
  text-transform: lowercase;
  width: 200px;
  height: 80px;
  position: absolute;
  font-size: 20px;
}

.navbar-cart-dropdown-showcase{
  background-color: white;
  border-bottom: solid 2px black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-cart-dropdown-showcase p{
  font-size: 14px;
}

.navbar-cart-dropdown-showcase img{
  width: 18%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-amount-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-amount-product input{
  width: 28px;
  height: 28px;
  user-select: none;
  outline: none;
  border: solid 2px black;
  margin-right: 1px;
}

input { 
  text-align: center; 
}

.pages-number{
  display: inline-block;
}

.pages-number-main{
  display: flex;
}

.pages-number-main p{
  line-height: 10px;
  font-size: 20px;
  border: solid 2px black;
  padding: 10px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.pages-number-main p:first-child{
  background-color: black;
  color: white;
}

.body-main-content{
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.category-default{
  display: none;
}


@media only screen and (max-width: 812px){

  .App{
    width: inherit;
    overflow: hidden;
  }
  .main-body{
    box-sizing: border-box;
    width: inherit;
    padding: 0 10px;
  }
  .navbar{
    box-sizing: border-box;
    z-index: 2;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 10px;
  }
  .navbar a{
    font-size: 40px;
  }
  .navbar i{
    font-size: 40px;
  }
  .header{
    margin-top:90px;
    margin-bottom: 10px;
  }
  .header-main{
    width: 100%;
  }
  .header-default{
    width: 100%;
  }
  .header-dropdown{
    z-index: 2;
    width: 100%;
  }
  .header-dropdown-list{
    width: 100%;
    background-color: white;
  }
  .header-dropdown-list p{
    width: 100%;
    margin-top: 3px;
    border: solid 2px black;
  }
  .header-dropdown-list p:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .body-main-content{
    flex-direction: column;
  }
  .products{
    width: inherit;
  }
  .product{
    border: solid 2px black;
    width: 49%;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0 8px;
  }
  .product:hover .product-btn{
    transform: none;
  }
  .product-btn{
    bottom: 0;
    transition: none;
  }
  .product-btn .btn{
    font-size: 10px;
  }
  .products-main-child{
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
  }
  .product-detail h2{
    font-size: 10px;
    text-align: center;
  }
  .product-detail h3{
    font-size: 20px;
  }
  .category{
    z-index: 1;
    max-width: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .category-default{
    border-radius: 10px;
    display: block;
    border: solid 2px black;
  }
  .category-dropdown{
    margin-top: 30px;
    display: none;
    background-color: white;
    width: inherit;
    position: absolute;
    top: 0;
  }
  .category:hover .category-dropdown{
    display: block;
  }
  .category-dropdown li{
    border-radius: 10px;
    margin-bottom: 10px;
  }
}