body {
  display: flex;
  justify-content: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-body{
  width: 1380px;
  padding: 0 10px;
  height: 100%;
}

/* common */
a{
  color: black;
  text-decoration: none;
}

.cs{
  cursor: pointer;
}

.select-list{
  width: 150px;
  height: fit-content;
}

.tc{
  text-align: center;
}

.col-3{
  max-width: 33.33333%;
  float: left;
  margin-bottom: 60px;
}

.col-2{
  max-width: 50%;
  height: 100%;
}

.row{
  width: 100%;
}

.row-5{
  margin:20px 0;
}

.row-2{
  margin: 0;
}
/* common */

.App{
  display: flex;
  justify-content: center;
  width: 1903px;
  height: 100%;
}

.display-section{
  height: fit-content;
}

.navbar{
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  user-select: none;
  width: inherit;
  text-transform: uppercase;
  height: 90px;
  font-size: 60px;
}

.navbar-cart-icon{
  float: right;
  position: relative;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.navbar-cart-icon:hover .navbar-cart-dropdown{
  display: block;
}

.navbar-cart-dropdown{
  position: absolute;
  left: -100px;
}

.navbar-cart-dropdown-main{
  overflow-y: scroll;
  width: 320px;
  max-height: 321px;
}

.category{
  max-width: 30%;
  margin: 0;
}

.category a{
  text-decoration: none;
  color: black;
}

.products{
  width: 70%;
  max-height: fit-content;
  padding: 0;
}

.products-main{
  display: flex;
  flex-direction: column;
}

.products-main-child{
  padding: 0 10px;
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product{
  margin: 20px 0 45px;
  overflow: hidden;
  width: fit-content;
  box-sizing: content-box;
  width: 292px;
  box-sizing: border-box;
  padding: 0 15px;
  transition: box-shadow 500ms;
  border-radius: 10px;
}

.product h3{
  margin-top: 10px;
  margin-bottom: 0;
}

.product h2{
  margin-bottom: 0;
}

.product:hover{
  box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
}

.product-img-btn{
  position: relative;
  overflow: hidden;
}

.btn2{
  float: right;
}

.btn{
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  width: 145px;
  border: solid 1px white;
  background-color: black;
}

.product-btn{
  position: absolute;
  left: 0;
  bottom: -45px;
  transition: transform 400ms;
}

.product:hover .product-btn{
  transform: translateY(-47px);
}

.product img{
  max-width: 100%;
}

.category{
  list-style: none;
  text-transform: uppercase;
  float: left;
  padding: 0;
}

.category li{
  padding: 0 -3px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.category li:first-child{
  margin-top: 0;
}

.category li::after{
  content: "";
  border: solid 1px transparent;
  vertical-align: top;
  bottom: 0;
  position: absolute;
  background-color: white;
  bottom: -1px;
  left: -121px;
  width: 119px;
  height: 20px;
  transition: left 700ms;
}

.category li:hover:after {
  left: 121px;
}


.product-img{
  position: relative;
  z-index: -1;
}

.product-img span{
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 15px;
  left: 10px;
}

.product-detail{
  text-transform: uppercase;
}

.header{
  max-width: 100%;
  margin: 100px 0 50px 0;
  text-align: right;
  user-select: none;
}

.header-main{
  position: relative;
  display: inline-block;
}

.header-main:hover .header-dropdown{
  display: block;
}

.header-default{
  display: inline-block;
  width: 150px;
  height: fit-content;
}

.header-default p{
  border-radius: 10px;
  border: solid 2px black;
  margin: 0;
}

.header-dropdown{
  z-index: 1;
  display: none;
  position: absolute;
  right: 0;
}

.header-dropdown-list{
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  height: fit-content;
  top:0;
  right: 0;
}

.header-dropdown-list p{
  background-color: white;
  border-top: solid 1px white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 10px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-width: 1px;
  box-sizing: border-box;
}

.header-dropdown-list p:hover{
  font-size: 20px;
  color: white;
  background-color: black;
}

.select-list{
  margin: 30px 0 0;
  display: inline;
  padding: -15px;
  height: 22px;
}

.navbar-cart-icon i{
  position: relative;
}

i span{
  position: absolute;
  color: white;
  font-size: 14px;
  top: 20%;
  left: 48%;
}

.navbar-cart-dropdown{
  display: none;
  text-transform: lowercase;
  width: 200px;
  height: 80px;
  position: absolute;
  font-size: 20px;
}

.navbar-cart-dropdown-showcase{
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: solid 1px black;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-cart-dropdown-showcase img{
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-amount-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-amount-product input{
  width: 20px;
}

input { 
  text-align: center; 
}

.pages-number{
  display: inline-block;
}

.pages-number-main{
  display: flex;
}

.pages-number-main p{
  line-height: 10px;
  font-size: 20px;
  border: solid 2px black;
  padding: 10px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.body-main-content{
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
